code/foreign_languages/java/sms.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name='sender'   type='xs:token'/>
        <xs:element name='receiver' type='xs:token'/>
        <xs:element name='content'  type='xs:string'/>
      </xs:sequence>
    
      <xs:attribute name="created-at" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
